# Created by .ignore support plugin (hsz.mobi)
cmd/aiserv/log/
cmd/dbserv/log/
cmd/gamesrv/log/
cmd/gateway/log/
cmd/loggersrv/log/
cmd/platformsrv/log/
cmd/routerserv/log/
cmd/test/test.rar
.idea/.gitignore
.idea/code-comments.xml
.idea/gogame.iml
.idea/misc.xml
.idea/modules.xml
.idea/thriftCompiler.xml
.idea/vcs.xml
cmd/aiserv/aiserv.exe
cmd/dbserv/dbserv.exe
cmd/gamesrv/gamesrv
cmd/gamesrv/gamesrv.exe
cmd/gateway/gateway.exe
cmd/loggersrv/loggersrv.exe
cmd/platformsrv/platformsrv.exe
cmd/routerserv/routerserv.exe
cmd/test/test.exe
